#Named Entity Recognition (NER)

- we are going to use in built NER system using SpaCy library

In [ ]:
import spacy

nlp = spacy.load("en_core_web_sm")

/usr/local/lib/python3.11/dist-packages/spacy/util.py:1740: UserWarning: [W111] Jupyter notebook detected: if using `prefer_gpu()` or `require_gpu()`, include it in the same cell right before `spacy.load()` to ensure that the model is loaded on the correct device. More information: http://spacy.io/usage/v3#jupyter-notebook-gpu
  warnings.warn(Warnings.W111)

In [ ]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

we have a "ner" component in spacy that we are going to use

In [ ]:
doc = nlp("Microsoft is going to acquire tiktok for $50 billion")

for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Microsoft | ORG | Companies, agencies, institutions, etc.
$50 billion | MONEY | Monetary values, including unit

Here, we can observe that this component is utilizing a pattern that prevented tiktok from being recognized as an organization in the document text. However, it will recognize Tiktok as an organization if we capitalize the letter "t" as Tiktok.

In [ ]:
doc = nlp("Microsoft is going to acquire Tiktok for $50 billion")

for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Microsoft | ORG | Companies, agencies, institutions, etc.
Tiktok | ORG | Companies, agencies, institutions, etc.
$50 billion | MONEY | Monetary values, including unit

In [ ]:
from spacy import displacy

displacy.render(doc, style="ent")

#Listing all entites that praticular pre-trained model support

In [ ]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [ ]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In above cell it made a mistake in identifying Bloomberg the Company.

In [ ]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")

for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Tesla | ORG | Companies, agencies, institutions, etc.
Twitter | PRODUCT | Objects, vehicles, foods, etc. (not services)
$45 billion | MONEY | Monetary values, including unit

In the above cell it identified Twitter as a product. let's modify that in pre-trained model of SpaCy library.

#Setting Custom Entity

In [ ]:
doc[0]

Tesla

In [ ]:
type(doc[0])

spacy.tokens.token.Token

In [ ]:
doc[0:5]

Tesla is going to acquire

In [ ]:
type(doc[0:5])

spacy.tokens.span.Span

To customize the entity we need to pass span not token.

In [ ]:
from spacy.tokens import Span

s1 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1], default="unmodified")

If we have more span then we just need to pass in the array in first parameter of set_ents as set_ents([s1, s2, s3], default="").

In [ ]:
for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Tesla | ORG | Companies, agencies, institutions, etc.
Twitter | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

#Exercise

**Excersie: 1**
- Extract all the Geographical (cities, Countries, states) names from a given text

In [ ]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

**Expected Output:**

Geographical location Names: [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count: 7

In [ ]:
Location = []

for ent in doc.ents:
  if ent.label_ == "GPE":
    Location.append(ent)

print("Geographical location Names: ", Location)
print("Count: ", len(Location))

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]
Count:  8

Because this pre-trained model consider Pongal as country that's why output is 8 countries.

**Excersie: 2**

- Extract all the birth dates of cricketers in the given Text

In [ ]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

**Expected Output:**

All Birth Dates: [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count: 4

In [ ]:
dob = []

for ent in doc.ents:
  if ent.label_ == "DATE":
    dob.append(ent)

print("All Birth Dates: ", dob)
print("Count: ", len(dob))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4